* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 500px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    padding: 0px;
}

.flex-main {
    flex-direction: column;
    height: 1000px;
    width: 1000px;
    background-color: beige;
}

section {
    height: 500px;
    background-color: yellow;
    min-width: 1200px;
    border: 1px solid;
}

.menu {
    height: 90px;
    width: 1200px;
    background-color: aqua;
}

.focus {
    height: 350px;
    width: 700px;
    background-color: lightseagreen;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}